{% extends 'base.html' %} 

{% block title %} 
    网络聊天室 | 凉薄 
{% endblock title %} 

{% block mycss %} 
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
{% endblock mycss %}


{% block content %}

<body>

<div style="text-align: center; margin-top: 60px" >
    <span id='can_use'>测试中...</span>
    <br/><br/>
    <button type="button"><a href='/anonymous/'>匿名聊天</a></button>
 
    <br/><br/>
    {{ msg }}
    <form action='/login/' method='post'>
        <input type="text" placeholder="用户名" name="user">
        <input type="password" placeholder="密码" name="password"/>
        <input type="submit" value="登录"/>
    </form>

    <br/><br/>
    <form action='/register/' method='post'>
        <input type="text" placeholder="用户名" name="user" required>
        <input type="password" id="password" placeholder="密码" name="password" required/>
        <input type="password" id="check_password" placeholder="确认密码" name="check_password" required/>
        <input type="submit" value="注册"/>
    </form>
</div>

</body>
{% endblock content %}




{% block myjs %}
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>


<script>
    function check_ws() {
        if ("WebSocket" in window) {
            $("#can_use").text('你的浏览器支持webscoket')
        }else{
            $("#can_use").text('你的辣鸡浏览器不支持webscoket,请退群')
        }
    }

    function check_psw() {
        document.getElementById("password").onchange = validatePassword;
        document.getElementById("check_password").onchange = validatePassword;
    }

    function validatePassword() {
        var pw = document.getElementById("password").value;
        var cek_pw = document.getElementById("check_password").value;

        if (pw != cek_pw) {
            document.getElementById("check_password").setCustomValidity("Password Don't Mathch");
        } else {
            document.getElementById("check_password").setCustomValidity("");
        }
    }
</script>

<script>
    window.onload = function () {
        check_ws();
        check_psw();
    }
</script>

{% endblock myjs %} 