{% extends 'base.html' %} 

{% block title %} 
    网络聊天室 | 凉薄 
{% endblock title %} 

{% block mycss %} 
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
{% endblock mycss %}

{% block myjs %}
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>


<script>
    window.onload = function () {
        if ("WebSocket" in window) {
            $("#can_use").text('你的浏览器支持webscoket')
        }else{
            $("#can_use").text('你的辣鸡浏览器不支持webscoket,请退群')
        }
    }
</script>



{% endblock myjs %} 


{% block content %}

<body>

<div style="text-align: center; margin-top: 60px" >
    <span id='can_use'>测试中...</span>
    <br/><br/>
    <button id='anonymous' type="button" onclick="/" >匿名聊天</button>
 
    <br/><br/>
    {{ msg }}
    <form action='/login/' method='post'>
        <input type="text" placeholder="用户名" name="user">
        <input type="password" placeholder="密码" name="password"/>
        <input type="submit" value="登录"/>
    </form>

    <br/><br/>
    <form id='register_form' action='/register/' method='post'>
        <input type="text" placeholder="用户名" name="user">
        <input type="password" placeholder="密码" name="password"/>
        <input type="password" placeholder="确认密码" name="password"/>
        <button type="button" onclick="/" >注册</button>
    </form>
</div>

</body>
{% endblock content %}